html {
  background-color: black;
  color: white;
}

.heading {
  font-family: "Abyssinica SIL", serif;
  font-size: 45px;
}
.description {
  font-family: "Abyssinica SIL", serif;
  font-size: 40px;
}

.mainClass {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.childMainClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-family: "Abyssinica SIL", serif;
  font-size: 38px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30%;
  width: 100px;
  height: 100px;
  background-color: black;
  border: 8px solid white;
  border-radius: 50%;
}

.randomNumber {
  font-size: 38px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.restart {
  background-color: lightgreen;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  font-family: "Abyssinica SIL", serif;
}
.guessSubmit{
    font-size: 38px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Abyssinica SIL", serif;

}
#right {
  color: green;
  font-family: "Abyssinica SIL", serif;
  font-size: 30px;
  text-align: center;
}

#wrong {
  color: red;
  font-family: "Abyssinica SIL", serif;
  font-size: 30px;
  text-align: center;
}
